body, html {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

p {
    padding: 20px;
}

.past-message {
    border: 1px solid black;
    margin: 0 20px;
}

.time {
    padding: 20px 0 0 20px;
}

#wrapper {
    border: 3px black solid;
    padding: 20px;
    border-radius: 20px;
}

#history {
    padding: 0 0 20px 0;
    height: 500px;
    overflow: auto;
    text-align: justify;
}